.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Adjusted to limit maximum width */
  width: 100%; /* Ensures it takes full width on smaller screens */
  box-sizing: border-box; /* Includes padding and border in width calculation */
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%; /* Ensures it spans full width */
  max-width: 300px; /* Limits maximum width for larger screens */
}

.search-bar input {
  height: 50px;
  width: 100%; /* Ensures input fills the container */
  max-width: 200px; /* Limits maximum width */
  padding-left: 15px; /* Adjusted padding */
  font-size: 16px; /* Smaller font size for better mobile usability */
}

.search-bar img {
  width: 40px; /* Adjusted size for smaller screens */
  padding: 12px; /* Adjusted padding */
  border-radius: 50%; /* Rounded border for search icon */
  cursor: pointer;
  background-color: #ebfffc;
}

.weather-icon {
  width: 120px; /* Reduced size for smaller screens */
  margin: 20px 0; /* Adjusted margin */
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

@media (max-width: 550px) {
  .weather {
    padding: 50px 20px;
  }
  .search-bar {
    gap: 8px;
  }
  .weather-icon {
    width: 100px; /* Further reduced size for smaller screens */
  }
  .temperature {
    font-size: 50px; /* Adjusted font size for smaller screens */
  }
  .location {
    font-size: 30px; /* Adjusted font size for smaller screens */
  }
  .weather-data .col {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
  .weather-data .col span {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 350px) {
  .weather {
    padding: 50px 10px;
  }
  .search-bar {
    gap: 5px;
  }
  .search-bar input {
    width: 100px; /* Adjusted width for smaller screens */
  }
  .search-bar img {
    width: 36px; /* Adjusted size for smaller screens */
    padding: 10px; /* Adjusted padding */
  }
  .weather-icon {
    width: 80px; /* Smallest size for the smallest screens */
  }
}
